@model IEnumerable<cp5_d.Models.Vendedor>
@{
    ViewData["Title"] = "Vendedores";
}
<h1>Vendedores</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Novo Vendedor</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Loja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>@item.Loja?.Nome</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
